// Typography

// Fonts
$font-sans = 'Source Sans Pro Regular',Arial,Helvetica,sans-serif
$font-sans-light = 'Source Sans Pro Light',Arial,Helvetica,sans-serif
$font-sans-bold = 'Source Sans Pro Bold', Arial, sans-serif
$font-serif = 'Source Sans Pro Regular',Arial,Helvetica,sans-serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
